@import url('/node_modules/@fontsource/fira-sans/index.css');
@import url('/node_modules/@fontsource/honk/index.css');
@import url('/node_modules/@fontsource/inter/index.css');
@import url('/node_modules/@fontsource/open-sans/index.css');
@import url('/node_modules/@fontsource/roboto/index.css');

:root {
  --primary-font-family: 'Inter', Arial, sans-serif;
  --secondary-font-family: 'Open Sans', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family);
}
